@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int numRegistros = (int)ViewData["NUMREGISTROS"];
    int numPagina = (int)ViewData["NUMPAGINA"];
}
@model List<Empleado>

<h1 style="color:rebeccapurple"> Paginar Grupo Empleados</h1>

<div>
    @for (int i = 0; i <= numRegistros; i += 3)
    {
        <a asp-controller="Paginacion" asp-action="GrupoEmpleados"
           asp-route-posicion="@i" class="btn btn-warning">
            Pagina @numPagina
        </a>
        numPagina += 1;
    }

</div>
<table class="table table-info table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellidos</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado emp in Model)
        {
            <tr>
                <td>@emp.IdEmpleado</td>
                <td>@emp.Apellido</td>
                <td>@emp.Oficio</td>
                <td>@emp.Salario</td>
                <td>@emp.IdDepartamento</td>
            </tr>
        }
    </tbody>
</table>